* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f7fa;
    color: #333;
}
.hero {
    padding: 3rem 1.5rem;
    text-align: center;
    background: linear-gradient(135deg, #4f46e5, #6366f1);
    color: white;
}
.hero h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
.hero button {
    padding: 0.75rem 1.5rem;
    border: none;
    background: white;
    color: #4f46e5;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
}
.hero button:hover {
  background: #b300ff;
  transform: scale(1.05);
  transition: all 1.3s ease;
}
@media (min-width: 768px) {
  .hero {
    padding: 5rem 3rem;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.25rem;
    max-width: 600px;
    margin: 0 auto 2rem;
  }
}

.features {
    padding: 3rem 1.5rem;
    text-align: center;
}
.features h2 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}
.features-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.feature-card {
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.feature-card h3 {
    margin-bottom: 0.5rem;
    color: #4f46e5;
}

.features-container {
    flex-direction: row;
    justify-content: center;
}

.feature-card{
    max-width: 300px;
}